<div id="login-form-box">
    <h1>Log In</h1>

    <%= form_tag sessions_path do %>
        <div class="control-group">
        <%= label_tag :email %>
        <div class="controls">
          <%= text_field_tag :email, params[:email], :placeholder => "Email Address" %>
        </div>
      </div>

        <div class="control-group">
        <%= label_tag :password %>
        <div class="controls">
          <%= password_field_tag :password %>
        </div>
      </div>

      <%= submit_tag("Log In", :class => "btn-large") %>
      <a id="resetPassword" href="#">Forgot your password?</a>
    <% end %>
</div>

