<h2>Assignment History:</h2>
<table class = "past_assignments">  
	<tr>
		<th>Store</th>
		<th>Role</th>
		<th>Pay Level</th>
		<th>Start Date</th>
		<th>End Date</th>
	</tr>
<% for assignment in @past_assignments %>
  <tr>
	<td><%=  link_to "#{assignment.store.name}", store_path(assignment.store) %></td>
	<td><%= assignment.employee.role.capitalize %></td>
	<td><%= assignment.pay_level %></td>
	<td><%= assignment.start_date.strftime("%m/%d/%Y")  %></td>
	<td><%= assignment.end_date.strftime("%m/%d/%Y")  %></td>
  </tr>
<% end %>
</table>
