<h1><%= image_tag('icons/icons_01.gif', :alt => "employee icon") %>All Employees
<% if current_user.role == "manager" %>
	at the <%= @store.name %> Store
<% end %>
</h1>
<% if current_user.role == "admin" %>
	<div class="page-buttons">
		<%= raw custom_button("employee", "new", new_employee_path, "New Employee") %>
	</div>
<% end %>
<table class="display dataTable">
	<thead>
		<tr>
			<th>Name</th>
			<th>Currently Assigned</th>
			<th>Role</th>
			<th>Phone</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<% for employee in @employees  %>
		<tr>
			<td><%= link_to(employee.name, employee_path(employee)) %></td>
			<% if employee.current_assignment.nil? %>
				<td><%= link_to "Create Assignment", new_assignment_path(:employee_id => employee.id), :class=>"btn" %></td>
			<% else %>
				<td><%= link_to(employee.current_assignment.store.name, store_path(employee.current_assignment.store)) %></td>
			<% end %>
			<td><%= employee.role.capitalize %></td>
			<td><%= employee.pretty_phone %></td>
			<td><%= employee.active ? "Active" : "Inactive" %></td>
		</tr>
		 <% end %>
	</tbody>
</table>
		

