<h1><%=  @employee.proper_name %></h1>


<table id="employee_details">
	<tr>
		<th>Phone</th>
		<td><%=  @employee.pretty_phone%></td>
	</tr>
	<tr>
		<th>SSN</th>
		<td><%=  @employee.pretty_ssn %></td>
	</tr>
	<tr>
		<th>Age</th>
		<td><%= @employee.age %></td>
	</tr>
	<tr>
		<th>Birthday</th>
		<td><%= @employee.date_of_birth.strftime("%B %e, %Y ") %></td>
	</tr>
</table>


<a href=<%= edit_employee_path(@employee) %> class="edit">Edit Employee Information</a>
