<h1 class="invisible">Employee Details: </h1>
<h1><span class="invisible">Name:</span> <%=  @employee.name %></h1>
<% if @most_recent_assignment.nil? == false && @most_recent_assignment == @employee.current_assignment %>
<% @most_recent_assignment.employee.role.start_with?("e") ? article = "an" : article = "a"%>
	<h2>Currently <%= article + " " + @most_recent_assignment.employee.role %> at the <%= link_to @most_recent_assignment.store.name+" Store", store_path(@most_recent_assignment.store) %></h2>
<% elsif (@most_recent_assignment.nil? == false) %>
	<h2>Was a <%= @most_recent_assignment.employee.role %> at the <%= link_to @most_recent_assignment.store.name+" Store", store_path(@most_recent_assignment.store) %> until <%= @most_recent_assignment.end_date.strftime("%B %e, %Y") %>.</h2>
<% else %>
	<h2>No existing assignments.</h2>
<% end %>
	
	
<table id="employee_details">
	<tr>
		<th>Active:</th>
		<td><%= @employee.active ? "Yes" : "No" %></td>
	</tr>
	<tr>
		<th>Role:</th>
		<td><%=  @most_recent_assignment.employee.role %></td>
	</tr>
	<tr>
		<th>Phone:</th>
		<td><%=  @employee.pretty_phone%></td>
	</tr>
	<tr>
		<th>SSN:</th>
		<td><%=  @employee.pretty_ssn %></td>
	</tr>
	<tr>
		<th>Age:</th>
		<td><%= @employee.age %></td>
	</tr>
	<tr>
		<th>Birthday:</th>
		<td><%= @employee.date_of_birth.strftime("%m/%d/%y") %></td>
	</tr>
</table>

<a href=<%= edit_employee_path(@employee) %> class="edit button">Edit Employee Information</a>
 <%= link_to "Delete Employee", @employee, :confirm => 'Are you sure?', :method => :delete, :class => "delete button" %>

<% unless @past_assignments.empty? == true%>
  <%= render :partial => "past_assignments" %>
<% end %>