<% unless current_user.employee.id == @employee.id %>
	<h1 class="page_label"><span>Employee Details:</span> <%=  @employee.name %></h1>
<% else %>
	<h1 class="page_label"><span>Your Details:</span> <%=  @employee.proper_name %></h1>
<% end %>

<%= raw custom_button("employee", "edit", edit_employee_path(@employee), "Edit Employee") %>

<div class="employee_data">		
	<% if @employee.current_assignment.nil? == false %>
		<% @most_recent_assignment.employee.role.start_with?("e") ? article = "an" : article = "a"%>
		
		<h3>Currently <%= article + " " + @most_recent_assignment.employee.role %> at the 
		<%= link_to @most_recent_assignment.store.name+" Store", store_path(@most_recent_assignment.store) %></h3>
		
	<% elsif (@most_recent_assignment.nil? == false) %>
		<h3>Was a <%= @most_recent_assignment.employee.role %> at the 
		<%= link_to @most_recent_assignment.store.name+" Store", store_path(@most_recent_assignment.store) %> 
		until <%= humanize_date(@most_recent_assignment.end_date) %>.</h3>
	<% else %>
		<h3><%= @employee.proper_name %> has no current assignment. 
		<%= link_to("Click here to create one.", new_assignment_path(:employee_id => @employee.id)) %></h3>
	<% end %>
	
	<table class="details">
		<tr>
			<th>Active:</th>
			<td><%= @employee.active ? "Yes" : "No" %></td>
		</tr>
		<tr>
			<th>Role:</th>
			<td><%=  @employee.role.capitalize %></td>
		</tr>
		<% unless @employee.current_assignment.nil? %>
		<tr>
			<th>Pay Level:</th>
			<td><%= @most_recent_assignment.pay_level %></td>
		</tr>
		<% end %>
		<tr>
			<th>Phone:</th>
			<td><%=  @employee.pretty_phone%></td>
		</tr>
		<tr>
			<th>SSN:</th>
			<td><%=  @employee.pretty_ssn %></td>
		</tr>
		<tr>
			<th>Age:</th>
			<td><%= @employee.age %></td>
		</tr>
		<tr>
			<th>Date of Birth:</th>
			<td><%= humanize_date(@employee.date_of_birth) %></td>
		</tr>
	</table>
</div>

<%= link_to "Delete Employee", @employee, :confirm => 'Are you sure you want to delete this employee?', :method => :delete, :class => "delete" %>

<% unless @past_assignments.empty? == true%>
<div class="assignment_history">
	<%= render :partial => "past_assignments" %>
 </div>
<% end %>
