<h1>Assignments</h1>
<%=  link_to "Create a New Assignment", new_assignment_path  %>
<% for assignment in @assignments %>
	<table>
		<tr>
			<th>Assignment</th>
			<th>Role</th>
			<th>Pay Level</th>
			<th>Start Date</th>
			<th>End Date</th>
		</tr>
		<tr>
			<td><%=  link_to "#{assignment.employee.proper_name} - #{assignment.store.name}", assignment_path(assignment) %></td>
			<td><%= assignment.employee.role %></td>
			<td><%= assignment.pay_level %></td>
			<td><%= assignment.start_date.strftime("%m/%d/%Y")  %></td>
			<% if assignment.end_date.nil? == false %>
				<td><%= assignment.end_date.strftime("%m/%d/%Y")  %></td>
			<% else %>
				<td>"Current Assignment"</td>
			<% end %>
		</tr>
	</table>
	<!-- edit button -->
<% end %>
