<h1><%= image_tag( 'icons/icons_09.gif', :alt => "store icon") %>Current Stores</h1>
<div class="page-buttons">
	<%= raw custom_button("store", "new", new_store_path, "New Store") %>
</div>
<table class="display dataTable">
	<thead>
		<tr>
			<th>Store Name</th>
			<th>Store Phone</th>
			<th>Staff Count</th>
		</tr>
	</thead>
	<tbody>
		<% for store in @stores  %>
		<tr>
			<td><%= link_to(store.name, store_path(store)) %></td>
			<td><%= store.pretty_phone %></td>
			<td><%= store.employees.size %></td>
		</tr>
		 <% end %>
	</tbody>
</table>
