<h1>All Stores</h1>
<%=  link_to "Add A New Store", new_store_path, :class =>"add button"    %>
<table class="display dataTable">
	<thead>
		<tr>
			<th>Store Name</th>
			<th>Store Phone</th>
			<th>Staff Count</th>
			<th>Active</th>
		</tr>
	</thead>
	<tbody>
		<% for store in @stores  %>
		<tr>
			<td><%= link_to(store.name, store_path(store)) %></td>
			<td><%= store.phone %></td>
			<td><%= store.employees.size %></td>
			<td><%= store.active %></td>
		</tr>
		 <% end %>
	</tbody>
</table>