<h1 class="invisible">Store Details:</h1>
<h1><span class="invisible">Name: </span><%=  @store.name%> Store</h1>
<h2><span class="invisible">Address: </span><%= @store.street %><br><%= @store.city + ", " + @store.state + " " + @store.zip %></h2>

<h5 class="active_status">Active: <%= @store.active ? "Yes" : "No" %></h5>
  <%= link_to "View All Stores", stores_path, :class =>"view_all store button"   %>
<a href=<%= edit_store_path(@store) %> class="edit store button">Edit Store Information</a>
 <%= link_to "Delete Store", @store, :confirm => 'Are you sure?', :method => :delete, :class =>"delete store button"   %>

 
<%= link_to "Add A New Employee", new_employee_path, :class => "button"  %>
<% if @current_employees.empty? == true%>
	<h3>No employees currently work at the <%=  @store.name %> store.</h3>
<% else %>
  <%= render :partial => "current_employees" %>
<% end %>
