<h1><span class="invisible">Name: </span><%=  @store.name%></h1>
<h2><span class="invisible">Address: </span><%=  @store.address %></h2>

<h5 class="active_status"><%= @store.active_status %></h5>
  <%= link_to "View All Stores", stores_path, :class =>"view_all store button"   %>
<a href=<%= edit_store_path(@store) %> class="edit store button">Edit Store Information</a>
 <%= link_to "Delete Store", @store, :confirm => 'Are you sure?', :method => :delete, :class =>"delete store button"   %>


<a href=<%=  link_to "Add A New Employee", new_employee_path  %>
<% if @current_employees.empty? == true%>
	<p>No employees currently work at the <%=  @store.name %>store.</p>
<% else %>
  <p><%= @store.employees.size > 1 ? "#{@store.employees.size} employees work":"#{@store.employees.size} employee works" %> at this store.</p>
  <%= render :partial => "current_employees" %>
<% end %>

<% unless @past_employees.empty? == true%>
  <%= render :partial => "past_employees" %>
<% end %>