<h1 class="page_label"	><%= image_tag('icons/icons_13.gif', :alt => "shift icon") %>All Jobs</h1>
<div class="page-buttons">
	<%= raw custom_button("job", "new", new_job_path, "New Job") %>
</div>
<ul>
	<table>
	<% for job in @jobs %>
		<tr>
			<th><%= job.name %></th>
			<td><%= job.description %></td>
			<td><%= link_to "Edit", edit_job_path(job), :class => 'btn btn-mini' %>
			<%= link_to "Remove", job_path(job), :method => :delete, :confirm => 'Are you sure you want to delete this job?', :class => 'btn btn-mini btn-danger' %>
			</td>
		</tr>
	<% end %>
	</table>
</ul>
