<div id="footer">
		<ul id="footer-nav">
			<li><%= link_to 'Home', home_path %></li>
			<li><%= link_to 'About the Creamery', about_path %></li>
			<li><%= link_to 'Contact Us', contact_path %></li>
			<li><%= link_to 'Privacy Policy', privacy_path %></li>
		</ul>
		
		<p id="copy">Webmaster: <%= mail_to("juliat@cmu.edu", "Julia Teitelbaum", :encode => "javascript") %> 
		&copy 2012</p>
</div>

