<div id="nav">
	<%= link_to(image_tag('wordmark-white.png', :alt => "A&M Creamery"), home_path, :id => "logo") %>
	<ul>
		<span id="topnav-lis">
			<li><%= link_to 'Home', home_path %></li>
			<li><%= link_to 'Stores', stores_path %></li>
			<li><%= link_to 'Employees', employees_path %></li>
			<li><%= link_to 'Assignments', assignments_path %></li>
		</span>
	</ul>
</div> 