<div id="active-stores" class= "span4">
	<h2>Active Stores</h2>
	<% unless @stores.empty? %>
		<% for store in @stores %>
			<div class="store">
				<h3 class="name"><%= link_to(store.name + " Store", store_path(store)) %></h3>
				<p class="num-employees"><strong><%= store.employees.active.size %></strong> Current Employees</p>
				<p class="shift-hours-worked"><strong><%= store.shift_hours_worked %></strong> Shift Hours Worked</p>
				<p class="assign-employee"><%= image_tag("icons/icons_06.gif", :alt => "New Assignment") %><%= link_to "Assign Employee", new_assignment_path(:store_id => store.id), :class => "add assignment"  %></p>
			</div>
		<% end %>
	<% else %>
		<p class="nil-message">Currently, there are no active stores. Go ahead and 
		<%= link_to "add one!", new_store_path, :class => "add store" %></p>
	<% end %>
</div>
