<div class= "stores">
	<h2>Active Stores</h2>
	<% unless @stores.empty? %>
		<% for store in @stores %>
			<div class="store">
				<h3><%= link_to(store.name + " Store", store_path(store)) %></h3>
				<p><strong><%= store.employees.active.size %></strong> Current Employees</p>
				<p><strong><%= store.shift_hours_worked %></strong> Shift Hours Worked in the Last 2 Weeks</p>
				<p><%= link_to "Assign Employee", new_assignment_path(:store_id => store.id), :class => "add assignment"  %></p>
			</div>
		<% end %>
	<% else %>
		<p class="nil-message">Currently, there are no active stores. Go ahead and 
		<%= link_to "add one!", new_store_path, :class => "add store" %></p>
	<% end %>
</div>
