<div class="shifts span9">
	<% unless @shifts.nil? %>
		<%= render :partial => 'upcoming_employee_shifts' %>
		<%= render :partial => 'past_employee_shifts' %>
	<% else %>
		<p class="nil-message">You have no past or upcoming shifts.</p>
	<% end %>
</div>
<div class="employee-details span3">
	<%= render :partial => 'employee_details' %>
	<% unless @employee.manager.nil? %>
		<p class="note">If the information you see here is wrong you should call 
		your manager, <%= @employee.manager.proper_name %>, at <%= @employee.manager.pretty_phone %></p>
	<% else %>
		<p class="note">If the information you see here is wrong, you should contact an administrator.</p>
	<% end %>
</div>
