<%= simple_nested_form_for(@shift) do |shift_form| %>
	<div class="shift_fields">
		<%= render :partial => 'new_shift_fields', :locals => {:f => shift_form} %>
		<%= render :partial => 'complete_shift_fields', :locals => {:f => shift_form} %>
	</div>
	
	<!-- add shift jobs form is in partial/two -->
	
	<div class="form-actions">
	  <%= shift_form.submit nil %>
	  <%= link_to 'Cancel', shifts_path %>
	</div>
<% end %>


