<h1>All Shifts</h1>
<%= raw custom_button("shift", "new", new_shift_path, "New Shift") %>
<table class="display dataTable">
	<thead>
		<tr>
			<td>Date</td>
			<td>Shift</td>
			<td>Employee</td>
			<td>Store</td>
		</tr>
	</thead>
	<tbody>
		<% for shift in @shifts %>
		<tr>
			<td><%= humanize_date(shift.date) %></td>
			<td><%= link_to(shift.name, shift_path(shift)) %>
			<td><%= link_to(shift.employee.name, employee_path(shift.employee)) %></td>
			<td><%= link_to(shift.store.name, store_path(shift.store)) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
