<h1>Shift Details</h1>

<a href=<%= edit_shift_path(@shift) %> class="edit button">Edit Shift Information</a>

<table>
	<tr>
		<th>Date</th>
		<td><%= @shift.date %></td>
	</tr>
	<tr>
		<th>Time</th>
		<td><%= @shift.name %></td>
	</tr>
	<tr>
		<th>Employee</th>
		<td><%= link_to(@shift.assignment.employee.name, employee_path(@shift.assignment.employee)) %></td>
	</tr>
	<tr>
		<th>Store</th>
		<td><%= link_to(@shift.assignment.store.name + " Store", store_path(@shift.assignment.store)) %></td>
	</tr>
	<tr>
		<th>Jobs Done</th>
		<td>
			<ul>
				<% for job in @shift.jobs %>
					<li><%= job.name %></li>
				<% end %>	
			</ul>
		</td>
	</tr>
	<tr>
		<th>Notes</th>
		<td><%= @shift.notes %></td>
	</tr>
</table>

