<h1>Shift Details</h1>
<div class="page-buttons">
	<% unless current_user.role == "employee" %>
		<%= raw custom_button("shift", "edit", edit_shift_path(@shift), "Edit This Shift") %>
		<%= link_to "View All Shifts", shifts_path, :class => "view_all btn btn-large" %>
		<%= link_to "Delete Shift", @shift, 
			:confirm => 'Are you sure you want to delete this shift?', 
			:method => :delete, :class => "delete btn btn-danger btn-small" %>
	<% else %>
		<%= link_to("Back", home_path, :class => "btn btn-large btn-primary") %>
	<% end %>
</div>
<table>
	<tr>
		<th>Date</th>
		<td><%= humanize_date(@shift.date) %></td>
	</tr>
	<tr>
		<th>Time</th>
		<td><%= @shift.name %></td>
	</tr>
	<% unless current_user.role == "employee" %>
	<tr>
		<th>Employee</th>
		<td><%= link_to(@shift.assignment.employee.name, employee_path(@shift.assignment.employee)) %></td>
	</tr>
	<% end %>
	<tr>
		<th>Store</th>
		<td><%= link_to(@shift.assignment.store.name + " Store", store_path(@shift.assignment.store)) %></td>
	</tr>
	<tr>
		<th>Jobs Done</th>
		<td>
			<% unless @shift.jobs.empty? %>
			<ul>
				<% for job in @shift.jobs %>
					<li><%= raw job_popover(job) %></li>
				<% end %>	
			</ul>
			<% else %>
			   No jobs have been added to the record for this shift.
			<% end %>
		</td>
	</tr>
	<% unless current_user.role == "employee" %>
	<tr>
		<th>Notes</th>
		<td><%= @shift.notes %></td>
	</tr>
	<% end %>
</table>

